.check-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    height: 100vh;
  }
  
  .barcode-input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .ticket-info {
    margin-top: 20px;
    margin-bottom: 2em;
  }

  .ticket-info {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .ticket-info th, .ticket-info td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .ticket-info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .QR-image {
    width: 150px;
    height: 150px;
    border: 5px solid #ccc;
  }